<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2042ff;">
    <div class="navbar-nav">
      <h1 class="navbar-brand mb-0 h1">Quiz</h1>
      <a class="nav-link" href="users/<%=  %>results">Results</a>
      <a class="nav-link" href="users/:id/quiz/new">New Quiz</a>
      <a class="nav-link" href="users/:id/quiz">My Quizzes</a>
    </div>
  </nav>
</header>
