<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Quiz App</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div id="new-questions">
      <form id="new-quiz-container" method="POST">
        <h1>New Quiz</h1>
        <label for="title"><h3>Title</h3></label>
        <input id="title" type="text" name="title">
        <label for="category"><h3>Category</h3></label>
        <input list="category" name="category">
        <datalist id="category">
          <option value="Gaming">
          <option value="Programming">
          <option value="General">
          <option value="Arts">
          <option value="History">
          <option value="Math">
        </datalist>
        <label for="description"><h3>Description</h3></label>
        <input id="description" type="text" name="description">
        <label for="time-limit"><h3>Time limit</h3></label>
        <input id="time-limit" type="time" name="time_limit" step="1">
        <label for="image"><h3>Image url</h3></label>
        <input id="image" type="text" name="image">
        <div class="a">
          <input id="unlisted" type="checkbox" name="is_unlisted">
          <label for="unlisted"><h3>Unlisted</h3></label>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
