<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search | Quiz App</title>
</head>
<body>
  <% for (const quiz of quizzes) { %>
    <a href="quiz/<%= quiz.id %>">
      <div class="quiz">
        <h4><%= quiz.title %></h4>
        <p><%= quiz.description %></p>
      </div>
    </a>
  <% } %>
</body>
</html>