#new-quiz-container {
  @extend %flex-center;
  font-family: $secondary-font;
  width: 30%;
}

#new-quiz-container > * {
  margin: 15px;
}

#new-quiz-container h1 {
  font-family: $primary-font;
}

#new-questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

#unlisted {
  margin-top: 25px;
  margin-left: 193px;
}

#finish-quiz {
  width: 28%;
  font-size: 6em;
}

.div-buttons {
  display: flex;
  flex-flow: wrap column;
}

.div-buttons > button {
  font-weight: bold;
}

.div-buttons > * {
  margin-bottom: 10px;
}

#question-container > h1 {
  font-family: $primary-font;
  text-align: center;
  padding: 10px;
}

.quiz-question {
  font-family: $secondary-font;
  padding: 10px;
}



